@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: rgb(56, 56, 56);
    width: auto;
    padding: 0 10%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-top: 0.25rem;
    margin-left: 8rem;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    position: absolute;
}

    .title h2 {
        position: absolute;
        font-weight: 200;
        margin-top: 2.2rem;
    }

    .title h1 {
        position: absolute;
        font-weight: 200;
        margin-bottom: 1rem;
        font-size: 2.4rem;
    }

.logo {
    display: flex;
}

    .logo img {
        filter: grayscale(100%) brightness(0) invert(1);
        margin-bottom: 20px;
    }

.nav-menu {
    list-style: none;
    display: flex;
}

    .nav-menu li {
        margin: 0.75rem;
    }

    .nav-menu a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        transition: color 0.5s ease;
    }

        .nav-menu a:hover {
            color: rgb(104, 100, 100);
        }

.cars-section {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(56, 56, 56);
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.abs-title {
    font-weight: 900;
    font-size: 3.5rem;
    margin: 3rem 3rem;
}

.cars img {
    width: 10rem;
}

.card h1 {
    margin: 0.25rem 0rem;
}

.carbutton {
    width: 5rem;
    height: 2.5rem;
    background-color: rgb(56, 56, 56);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(56, 56, 56);
    margin-top: 0.5rem;
}

    .carbutton a {
        color: white;
        font-weight: 600;
    }
