<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarRental</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="~/photos/logo.png" alt="" />
                <div class="title">
                    <h1>car</h1>
                    <h2>rental</h2>
                </div>
            </div>
            <ul class="nav-menu">
                <li><a href="">anasayfa</a></li>
                <li><a href="">hizmetler</a></li>
                <li><a href="">hakkımızda</a></li>
                <li><a href="">giriş yap</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    </body>
</html>
