<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CarRental</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Markalar
          </a>
          <ul class="dropdown-menu">
            <li
              *ngFor="let brand of brands"
              routerLink="cars/brand/{{ brand.id }}"
            >
              <a class="dropdown-item">{{ brand.brandName }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Renkler
          </a>
          <ul class="dropdown-menu">
            <li
              *ngFor="let color of colors"
              routerLink="cars/color/{{ color.id }}"
            >
              <a class="dropdown-item">{{ color.colorName }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Yakıt Tipleri
          </a>
          <ul class="dropdown-menu">
            <li
              *ngFor="let fuelType of fuelTypes"
              routerLink="cars/fueltype/{{ fuelType.id }}"
            >
              <a class="dropdown-item">{{ fuelType.fuelTypeName }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Vites Tipi
          </a>
          <ul class="dropdown-menu">
            <li
              *ngFor="let gearType of gearTypes"
              routerLink="cars/gearType/{{ gearType.id }}"
            >
              <a class="dropdown-item">{{ gearType.gearTypeName }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">Car<span>Book</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="pricing.html" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item"><a routerLink="cars" class="nav-link">Cars</a></li>
        <li class="nav-item">
          <a href="contact.html" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
